# This is an example of local configuration file that you want to
# use if you're not an OONI developer to disable private stuff.

ooni_psiphon_config=""

repositories=(
	git@github.com:neubot/dash
	git@github.com:ooni/api
	git@github.com:ooni/backend
	git@github.com:ooni/data
	git@github.com:ooni/minivpn
	git@github.com:ooni/ooni.org
	git@github.com:ooni/pipeline
	git@github.com:ooni/probe-android
	git@github.com:ooni/probe-assets
	git@github.com:ooni/probe-cli
	git@github.com:ooni/probe-desktop
	git@github.com:ooni/probe-ios
	git@github.com:ooni/run
	git@github.com:ooni/spec
	git@github.com:ooni/translations
)
